*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: ghostwhite;
	font-family: monospace;
	text-decoration-color: white;
	outline: none;
}
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calculator{
	background-color: slategrey;
	padding: 20px;
	border-radius: 30px;
	box-shadow: inset 5px 5px 15px lightslategrey,
				inset 5px 5px 15px rgba(0,0,0,.2);
	display: grid;
	grid-template-columns: repeat(4, 90px);

}
input{
	grid-column: span 4;
	height: 80px;
	width: 340px;
	background-color: lightgrey;
	border: none;
	border-radius: 15px;
	box-shadow: inset -5px -5px 20px lightgrey,
				inset 5px 5px 20px rgba(0,0,0,0.2);
	color: rgb(70, 70, 70);
	font-size: 30px;
	text-align: end;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}
button{
	height: 60px;
	width: 60px;
	background-color: whitesmoke;
	border: none;
	border-radius: 15px;
	box-shadow: inset -5px -5px 10px lightgrey,
				inset 5px 5px 10px rgba(0,0,0,0.2);
	margin: 8px;
	font-size: 20px;
	cursor: pointer;
}